{% load i18n static %}

<div id="{{ html_id }}_wrapper" class="select-field-wrapper">
	<input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" autocomplete="off" {{ extra_attrs }}/>
	{% if add_link %}
		<div class="text-right">
			<a href="{{ add_link }}" class="related-widget-wrapper-link add-related" id="add_{{ html_id }}"
			   onclick="return showAddAnotherPopup(this);">
					<img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% translate 'Change' %}">
			</a>
		</div>
	{% endif %}
	<input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_id}}" data-ajax-select="autocompleteselect"
		   data-plugin-options="{{ data_plugin_options }}"/>
	<div id="{{html_id}}_on_deck" class="results_on_deck"><div>{{current_repr|safe}}</div></div>
	{% block extra_script %}
		<script>
			$(".select-field-wrapper").focusin('input[type="text"]', function() {
				$(this).find('.results_on_deck').addClass('inputSelected');
			});
			$(".select-field-wrapper").focusout('input[type="text"]', function() {
				$(this).find('.results_on_deck').removeClass('inputSelected');
			});
		</script>
	{% endblock %}
	{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}
</div>
